# Introduction - Exploratory Data Analysis

The Election Commission of India released two pdf files with details of electoral bond buyers and recipients (cshers) respectively. These were essentially tables with the data as ordered by the Supreme Court of India. This notebook is work in progress but can help you dig deeper into the dataset.

# Install libraries

In [12]:
!pip install pandas plotly

Requirement already satisfied: pandas in /Users/inder/Desktop/electoral_bond/bond_analytics_repo/venv/lib/python3.9/site-packages (2.2.1)
Requirement already satisfied: plotly in /Users/inder/Library/Python/3.9/lib/python/site-packages (5.13.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/inder/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.3)
Requirement already satisfied: tzdata>=2022.7 in /Users/inder/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.4)
Requirement already satisfied: pytz>=2020.1 in /Users/inder/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/inder/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tenacity>=6.2.0 in /Users/inder/Library/Python/3.9/lib/python/site-packages (from plotly) (8.2.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

# Loading libraries

In [13]:
import os
import pandas as pd
import plotly.graph_objects as go
import plotly.io as pio
pio.renderers.default = "browser"

# Loading bond buyers data

In [14]:
bond_buyers = pd.read_csv("../data/bond_buyers.csv", index_col="Sr No.")
bond_buyers

,Reference No (URN),Journal Date,Date of Purchase,Date of Expiry,Name of the Purchaser,Prefix,Bond Number,Denominations,Issue Branch Code,Issue Teller,Status
Sr No.,,,,,,,,,,,
1,00001201904120000001166,2019-04-12 00:00:00,2019-04-12 00:00:00,2019-04-26 00:00:00,A B C INDIA LIMITED,TL,11448,1000000,1,5899230,Paid
2,00001201904120000001166,2019-04-12 00:00:00,2019-04-12 00:00:00,2019-04-26 00:00:00,A B C INDIA LIMITED,TL,11447,1000000,1,5899230,Paid
3,00001201904120000001166,2019-04-12 00:00:00,2019-04-12 00:00:00,2019-04-26 00:00:00,A B C INDIA LIMITED,TL,11441,1000000,1,5899230,Paid
4,00001201904120000001166,2019-04-12 00:00:00,2019-04-12 00:00:00,2019-04-26 00:00:00,A B C INDIA LIMITED,OL,1113,100000,1,5899230,Paid
5,00001201904120000001166,2019-04-12 00:00:00,2019-04-12 00:00:00,2019-04-26 00:00:00,A B C INDIA LIMITED,OL,1118,100000,1,5899230,Paid
...,...,...,...,...,...,...,...,...,...,...,...
18867,00001202401110000003729,2024-01-11 00:00:00,2024-01-11 00:00:00,2024-01-25 00:00:00,WESTWELL GASES PRIVATE LIMITED,OC,15695,10000000,1,5898161,Paid
18868,00001202401110000003729,2024-01-11 00:00:00,2024-01-11 00:00:00,2024-01-25 00:00:00,WESTWELL GASES PRIVATE LIMITED,OC,15693,10000000,1,5898161,Paid
18869,00001202401110000003729,2024-01-11 00:00:00,2024-01-11 00:00:00,2024-01-25 00:00:00,WESTWELL GASES PRIVATE LIMITED,OC,15697,10000000,1,5898161,Paid
18870,00001202401110000003729,2024-01-11 00:00:00,2024-01-11 00:00:00,2024-01-25 00:00:00,WESTWELL GASES PRIVATE LIMITED,OC,17803,10000000,1,5898161,Paid
18871,00001202401110000003729,2024-01-11 00:00:00,2024-01-11 00:00:00,2024-01-25 00:00:00,WESTWELL GASES PRIVATE LIMITED,OC,15691,10000000,1,5898161,Paid

# Loading bond recipients (political parties) data

In [3]:
bond_recipients = pd.read_csv("../data/bond_recipients.csv", index_col="Sr No.")
bond_recipients

,Date of Encashment,Name of the Political Party,Account no. of Political Party,Prefix,Bond Number,Denominations,Pay Branch Code,Pay Teller
Sr No.,,,,,,,,
1,2019-04-12 00:00:00,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775,10000000,800,2770121
2,2019-04-12 00:00:00,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975,10000000,800,2770121
3,2019-04-12 00:00:00,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967,10000000,800,2770121
4,2019-04-12 00:00:00,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,10418,1000000,800,2770121
5,2019-04-12 00:00:00,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126,1000000,800,2770121
...,...,...,...,...,...,...,...,...
20417,2024-01-24 00:00:00,JANASENA PARTY,*******3929,TL,2619,1000000,847,7620160
20418,2024-01-24 00:00:00,JANASENA PARTY,*******3929,TL,2608,1000000,847,7620160
20419,2024-01-24 00:00:00,JANASENA PARTY,*******3929,TL,2633,1000000,847,7620160
20420,2024-01-24 00:00:00,JANASENA PARTY,*******3929,TL,2627,1000000,847,7620160
20421,2024-01-24 00:00:00,JANASENA PARTY,*******3929,TL,2631,1000000,847,7620160

# Plotting the top buyers

In [15]:
top_10_buyers = bond_buyers.groupby(["Name of the Purchaser"])["Denominations"].sum().nlargest(10)
top_10_buyers["OTHERS"] = bond_buyers["Denominations"].sum() - top_10_buyers.sum()


fig = go.Figure(
    data=[go.Pie(values=top_10_buyers.values, labels=list(top_10_buyers.index),
                )],
    layout_title_text="Percentage of donations given by each buyer"
)
fig.show()

# Top parties who cashed the bonds

In [20]:
top_7_recipients = bond_recipients.groupby(["Name of the Political Party"])["Denominations"].sum().nlargest(7)
top_7_recipients["OTHERS"] = bond_recipients["Denominations"].sum() - top_7_recipients.sum()


fig = go.Figure(
    data=[go.Pie(values=top_7_recipients.values, labels=list(top_7_recipients.index),
                )],
    layout_title_text="Percentage of bonds cashed by each party"
)
fig.show()

# Total value of bonds cashed by each party

In [21]:

fig = go.Figure(
    data=[go.Bar(x=list(bond_recipients.groupby(["Name of the Political Party"]).groups.keys()), y=bond_recipients.groupby(["Name of the Political Party"])["Denominations"].sum())],
    layout_title_text="Total bonds cashed by each political party"
)
fig.update_layout(yaxis_title="Total value in Rupee cashed by each party")
fig.show()

# Timeline of bond purchases and cashing

In [28]:
bond_recipients.columns

Index(['Date of Encashment', 'Name of the Political Party',
       'Account no. of Political Party', 'Prefix', 'Bond Number',
       'Denominations', 'Pay Branch Code', 'Pay Teller'],
      dtype='object')

# Timeline of bond buying and cashing

The graph below shows an anomaly in the April of 2019 where the bonds bought were about half of the bonds cashed. Don't whether that is deliberate or some data collection mistake.

In [ ]:
bond_recipients['Date of Encashment'] = pd.to_datetime(bond_recipients['Date of Encashment']) 
bond_cashing_timeline = bond_recipients.groupby(["Date of Encashment"])["Denominations"].sum().resample("ME").sum()

bond_buyers["Date of Purchase"] = pd.to_datetime(bond_buyers["Date of Purchase"])
bond_buying_timeline = bond_buyers.groupby(["Date of Purchase"])["Denominations"].sum().resample("ME").sum()


fig = go.Figure(
    data=[go.Bar(x=bond_buying_timeline.index, y=bond_buying_timeline.values, name="bond buying time"), 
          go.Bar(x=bond_cashing_timeline.index, y=bond_cashing_timeline.values, name="bond cashing time")],
    layout_title_text="Timeline of bond buying and cashing"
)

fig.show()

# The column bond number

The number in bond number column is not unique. One would have otherwise assumed that you could match the bond numbers in the two lists and figure out which doner donated to which party. But I guess that is not the case.

In [35]:
bond_recipients.columns

Index(['Date of Encashment', 'Name of the Political Party',
       'Account no. of Political Party', 'Prefix', 'Bond Number',
       'Denominations', 'Pay Branch Code', 'Pay Teller'],
      dtype='object')

In [36]:
len(bond_recipients["Bond Number"]), len(bond_recipients["Bond Number"].unique())

(20421, 15296)

In [37]:
len(bond_buyers["Bond Number"]), len(bond_buyers["Bond Number"].unique())

(18871, 14491)

# How is that possible!!!?

Also, the data shows that almost 60 crores worth more bonds were cashed than they were bought

In [40]:
bond_buyers["Denominations"].sum(), bond_recipients["Denominations"].sum()

(121555132000, 127690893000)

In [41]:
bond_recipients["Denominations"].sum() - bond_buyers["Denominations"].sum()

6135761000